* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.App {
  background-image: url('./img/background\ copy\ 2\ \(1\).png');
  
}
.upperline {
  
  height: 1px;
  background-color: #cb3333;
}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 1000px;
  margin: 0 auto;
  
  
}
.section-container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2b2c;
  height: 40px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
  font-family: "Arial";
}
.social-media img{
  padding: 4px;
  cursor: pointer;
}

.login-card-panel {
  display: flex;
  align-self: stretch;
  align-items: center;

}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 20px;
  width: 90px;
  height: 50px;
  color: white;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  // outline: none;
  background-color: #cb3333;
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.35));

  
}

.section-container-2 {
  
  display: flex;
  align-items: center;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
  color: white;
}
.m-logo-span {
  position: absolute;
  margin: -2px 16px;
  font-size: 30px;
}
.store {
  font-size: 25px;
  line-height: 14px;
  color: #000000;
  font-family: "Arial";
}
.navigation {
  display: flex;
  justify-content: center;
  
  
}
.nav-li {
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
}
.nav-li:hover{
    color: #cb3333;
    transition: 0.5s;
  }

//SLIDER 

.slider {
  border-top: 2px solid #cb3333;
  border-bottom: 2px solid #cb3333;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  
  overflow: hidden;
}
.slide {
  min-width: 100%;
  height: 80vh;
  transition: 1s;
  overflow: hidden;
}
%btn-styles {
  position: absolute;
  top: 60vh;
  transform: translateY(-50%);
  width: 7%;
  height: 15%;
  border-radius: 50%;
  background: none;
  border: none;
  outline: none;
}
.left {
  cursor: pointer;
  color: white;
  left: 20px;
  @extend %btn-styles;
}
.right {
  cursor: pointer;
  color: white;
  right: 20px;
  @extend %btn-styles;
}
 
.right-btn-img, .left-btn-img {
  opacity: 0.7;
  width: 70%;
  height: 70%;

}
.right-btn-img:hover, .left-btn-img:hover {
 background-color: #727273;
 transition: 0.7s;
 width: 100%;
 height: 100%;
 border-radius: 50%; 
}
// Welcome to musica ,check our latest albom
.section-container-3 {
  display: flex;
  align-items: center;
  height: 200px;
}
.welcome-to-musica {
 font-size: 36px;
 color: #1c1c1c;
 text-align: center;
 padding: 0 70px;
}
.welcome-to-musica-span {
 width: 139px;
 height: 50px;
 background-color: #cb3333;
 color: white;
}
.section-container-4 {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.box-2 {
  width: 300px;
  height: 100px;
  background-color: #cb3333;
  border-radius: 5px;
}
.box-1, .box-3 {
  width: 300px;
  height: 100px;
  background-color: #1e1e20;
  border-radius: 5px;
}
.title-box-1, .title-box-2, .title-box-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: stretch;
  width: 280px;
  height: 33px;
  margin: 10px auto;
}
.title-box-1, .title-box-2, .title-box-3 p {
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-family: "Oswald";
}
.second-title-box-1, .second-title-box-2, .second-title-box-3 {
  width: 280px;
  margin: 10px auto;
}
.second-title-box-1, .second-title-box-2, .second-title-box-3 p {
 font-size: 13px;
 line-height: 18px;
 color: #ffffff;
 font-family: "Arial";
}
//Publisher section 
.publishers {
 font-size: 20px;
 line-height: 28px;
 font-weight: 600;
 color: #1e1e20;
 font-family: "Oswald";
 height: 50px;
}
.section-container-publishers {
  height: 260px;
}

.publishers--box {
 display: flex;
 flex-direction: column;
 align-items: center;
 align-self: stretch;
 width: calc(1000px / 6);
 height: 132px;
//  padding: 20px 0;
 background-image: linear-gradient(90deg, #e6e6e6 0%, #ffffff 100%);
}

.img1-p {
 font-size: 16px;
 color: #605d5d;
 font-family: "Trebuchet MS";
}
.img3-p {
 font-size: 16px;
 color: #313131;
 font-family: "Arial";
}
.img6-p {
 font-size: 20px;
 letter-spacing: -1px;
 color: #000000;
 font-family: "Arial";
 font-weight: 800;
 text-align: right;
}
// Footer

.section-container-first-footer {
  background-image: url('../src/img/footer-section/footer.png');
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.footer-blogs {
  display: flex;
  width: 100%;
}
.footer-blog1, .footer-blog2, .footer-blog3, .footer-blog4 {
  width: 25%;
  margin-bottom: 15px;
}
.footer-blog1 img { 
 margin-right: 3px;
 padding: 8px;
 background-color: #393939;
 border-radius: 100%;

}

.footer-blogs h3 {
 font-size: 16px;
 line-height: 50px;
 color: #ffffff;
}
.footer-blogs p{
 font-size: 13px;
 line-height: 18px;
 color: #ffffff;
 font-family: "Arial";
 
}

.first-post-album, .second-post-album {
  display: flex;
  margin-bottom: 10px;
}

.firt-post-album-title ,.second-post-album-title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.comments-12 {
  display: flex;  
}
.comments-12 img {
  border: 3px solid #272929;
}
.first-post-album-img,
.second-post-album-img {
  border: 3px solid #272929;
}

.footer-blog4 button {
  background-color: #2a2a2a;
  border: none;
  color: #ffffff;
  padding: 5px;
  margin: 3px;
}
.footer-blog4 input {
  background-color: #1b1b1b;
  border: 1px solid #393939;
  outline: none;
  width: 210px;
  height: 30px;
}
input[type]{
  color: #a9a9a9;
  padding: 15px;
}
.footer-blog4 input::placeholder {
  color: #a9a9a9;
  
}
.footer-blog2 p {
  border-bottom: 1px dotted white;
  padding: 10px 0;
  width: 80%;
}

.section-container-second-footer {
  background-color: #1b1b1b;
  border-top: 2px solid black;
}
.footer-nav-li, .footer-nav-p {
 font-size: 11px;
 letter-spacing: 0px;
 line-height: 35px;
 color: #6e6e6e;
 font-family: "Arial";
 text-decoration: none;
 padding-right: 10px;
 filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.5));
}
.footer-nav-li:hover {
  text-decoration: underline;
  
}
//PRODUCT 
.products-header {
  margin-top: 30px;
  margin-bottom: 5px;
}
.products-header p{
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #1e1e20;
  font-family: "Oswald";
  height: 50px;
  text-transform: uppercase;
}
.products-header button {
  width: 20px;
  height: 21px;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
  background-color: #cc3333;
}

.products-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.single-product{
  width: 240px;
  height: 400px;
  border: none;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.15));
  background-color: #ffffff;
  margin-bottom: 20px;
   
}
.single-product:hover {
  // transform: scale(1.03);
  transition: 0.9s;
}
.single-product img {
  width: 240px;
  height: 220px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.15));
}
.about-single-product{
  width: 215px;
  margin: 10px auto;
}
.name-and-artist-container {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  line-height: 18px;
  color: #282828;
  font-family: "Arial";
  margin-bottom: 5px;

}
.name-and-artist-container i{
  margin-right: 35px;
}
.about-single-product p {
  font-size: 13px;
  line-height: 18px;
  color: #2a2b2c;
  font-family: "Arial";
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}
.price-and-btn-container {
  display: flex;
  justify-content: space-between;
}
.add-to-card-btn {
  outline: none;
  cursor: pointer;
  font-size: 12px;
  width: 80px;
  height: 26px;
  border: none; 
  border-radius: 5px;
  background-color: #1e1e20;
  color: white;
}
.add-to-card-btn:hover  {
  background-color: #cc3333;
  transition:  0.5s;
}
.load-more{
  width: 100%;
  }
.cart{
  width: 400px;
 
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.35));
  background-color: #ffffff;
  padding: 20px;
  margin: -1904px 20px 300px 861px;
  position: absolute;
}
.cart-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 1px dotted black;
}

.cart-first-container {
  display: flex;
   
}
.cart-first-container i{
  padding-left: 10px;
}
// .load-more{
//   width: 70px;
//   height: 20px;
//   background-color: #cb3333;
//   color: white;
//   border: none;
// }
.cart-stars-container {
  margin-top: -38px;
  margin-left: 70px;
}
.cart-first-and-starts-container {
  padding-bottom: 20px;
}
.cart-first-container h4{
  padding-left: 15px;
}
.cart-second-container {
  text-align: end;
}



.close-x-btn {
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #cb3333;
  color: white;
  padding: 4px 7px;
  font-size: 12px;
  font-weight: bold;
}
.close-x-btn:hover {
  background-color: #8a2828;
}
.total-cost-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted black;
  padding-bottom: 15px;
}
.total-cost-container h3:nth-last-child(1){
  color: #cb3333;
}
.view-and-proceed-buttons button {
  margin-top: 20px;
  margin-right: 10px;
  padding: 0 10px;
  border: none;
  height: 30px;
  background-color: #1e1e20;
  color: #ffffff;
}



