body {
    margin: 0;
    align-self: center;
}

* {
    box-sizing: border-box;
    
}

.main-header {
    padding-top: 0;
}

.container {
    max-width: 1280px;
    margin: 20px auto;   
}

.logo {
    font-size: 60px;
    font-family: "Myriad Pro";
    text-decoration: none;
    color: black;
}

.blue {
    color: #4dd5ff;
}

.navigation {
    width: 100%;
    margin-top: 20px;
    background-color: #36444f;
    display: inline-block;
    padding: 15px 230px;
    
}

.nav-link {
    
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all .5s;
}

.nav-link:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: rgba(0, 0, 0, .2);
   

}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    border: 1px solid black;
    width: 342px;
    height: 370px;
}

.nav-menu--list {
    list-style: none;
    padding: 0; 
    margin: 0;  
}

.nav-menu--list a {
    text-decoration: none;
    color: #3f484d;
    padding: 20px 40px;
    display: block;
    font-size: 24px;
    transition: all .5s;
}

.nav-menu--list a:hover {
    
    background-color: lightgray;
    color: black;
    padding-left: 50px;
}

.article {
    width: calc(100% - 390px);
    border: 1px solid black;
    height: 500px;
}

.article-image {
    
    padding: 50px 270px;
    max-height: 600px;
    text-align: center;
    
    
}

.article-image img {
    width: 300px;
    height: 400px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto;  
    transition: transform .5s;
}
.article-image img:hover{ 
  transform: scale(1.1); 
}
}
.article p{
    margin: 40px;
}
.footer-nav{
    padding: 20px 40px;
    margin-top: 210px;
    font-size: 20px;
    background-color: #b3b7ba;
}
.footer-nav a{
    text-decoration: none;
    padding: 20px;
    color: #222e3a  
}
.footer-nav span{
    text-align: right;
    font-size: 20px;
    margin-left: 220px;
}
.footer-links:nth-child(2){
    color: #3e8dab;
    text-decoration: underline;
}