* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url('../img/rana-sawalha-364253-unsplash.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    
    
}

.sp-logo{
    cursor: pointer;
    color: white;
    font-size: 13px;
    padding: 0 50px;
}
.sp-logo:hover{
    color: green;
}
.calendar {
    width: 22px;
}
.msg{
    width: 22px;
}
.compas{
    width: 22px;
}
.sp-li{
    color: green;
    font-weight: 100;
    padding: 0 10px;
}
.sp-li:hover{
    text-decoration: underline;
}
header{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 50px;
}
.logo-contaier, .icon, .nav-links{
    display: flex;
}
.logo-contaier{
    flex: 1;
}
.icon{
    flex: 1;
    justify-content: flex-end;

}
.icon a:hover{
    filter: invert(53%) sepia(90%) saturate(6800%) hue-rotate(149deg) brightness(100%) contrast(70%);
}
nav{
    flex: 0.5; 
    display: flex;
    align-self: center;
    
    
}
.vertical-line{
    width: 1px;
    height: 19px;
    margin-top: 17px;
    background-color: rgb(83, 83, 83);
}
.nav-links{
    justify-content: flex-start;
    list-style: none;
    color: white;
    margin: 15px;
    
    
}
.nav-links-li{
    text-decoration: none;
    padding: 0;
    
}
p {
    margin-top: 0;
    text-align: center;
    
 }
.icon a{
    margin: auto 20px;
    padding-bottom: -10px;
    
}


.logo{
    margin: 9px;
}
 
 .container{
     background-color: white;
     max-width: 450px;
     max-height: 580px; 
     margin: 70px auto;
     border-radius: 10px;
     
     padding: 30px 60px;
     

 }
 .header-form{
     display: flex;
     justify-content: space-between;
     margin-bottom: 15px;
 }
 .header-sign-up{
     color: #434343;
     font-size: 20px;
 }
 .header-log-in{
     text-decoration: none;
     color: green;
     margin-top: 8px;
     font-size: 14px;

 }
 .header-form a:hover{
    text-decoration: underline;
    

}
 .social-media {
     height: 45px;
     text-align: center;
     display: flex;
     justify-content: space-between;
     
     
 }
 
 .box{
     width: 19px;
     height: 19px;
     background-color: #3cb878;
     text-align: left;
     margin-left: -60px;
     margin-top: 5px;
     padding: 0;
     position: absolute;
 }
 
 button{  
     padding:10px;
     margin: 10px auto;
     width: 45%;
     box-sizing: border-box;
     border: none;
     border-radius: 2px;
     
     
 }
 button a{
     text-decoration: none;
     color:#fff;
 }
 .btn-face{
     background-color: #305db8;
     margin: 0;
     font-size: 17px;
     font-weight: 600;
     cursor: pointer;
     text-align: start;
     padding-left: 3px;;
     
 }
 .btn-face:hover{
     background-color: #254b95;
 }
 .btn-google{
     background-color: #df4a32;
     margin: 0;
     font-size: 17px;
     font-weight: 600;
     cursor: pointer;
     text-align: start;
     padding-left: 3px;;
 }
 .btn-google:hover{
     background-color: #c3412b;
 }
 .fb{
     border-left: 1px solid #2b54a5;
     padding: 5px 20px;
 }
 .google{
    border-left: 1px solid #c8422d;
    padding: 5px 20px;
}
 
 .fa-facebook:before {
   padding: 0 10px;
   font-size: 20px;
  }
.fa-google:before{
    padding: 0 10px;
    font-size: 20px;
  }
 
.form-or {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 }
 .form-or:before{
    content: "";
    display: inline-block;
    height: 0.8px;
    position: relative;
    vertical-align: middle;
    width: 40%;
    background-color: #eaeaea;
  }

.form-or:after {
  content: "";
  display: inline-block;
  height: 0.8px;
  position: relative;
  vertical-align: middle;
  width: 40%;
  background-color: #eaeaea;
}

 form{
     margin-top: 15px;
 }
 .form-section input:focus{
    outline: none;
    box-shadow: 0px 2px 7px gray;
}
 input[type=text], input[type=password], input[type=submit]{
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    outline: none;
    
 }
 
 .sp-label{
     color: green;
     
 }
 input[type=submit]{
     background-color: #3cb878;
     color:white;
     margin-top: 20px;
     padding: 15px;
     cursor: pointer;
     border-radius: 2px;
 }
 input[type=submit]:hover{
     background-color: #319965;
 }
 .input-checkbox {
    display: none;
  }
  .checkbox-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-size: 15px;
    cursor: pointer;
  }
  .checkbox-label .sp-label:hover {
    border-bottom: 1px solid #3cb878;
  }
  .checkbox-label .sp-label {
    color: #3cb878;
  }
  .input-checkbox + .checkbox-label:before {
    content: "";
    background: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.21);
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 12px;
    padding: 1px;
    margin-right: 7px;
  }
  .input-checkbox:checked + .checkbox-label:after {
    content: "";
    padding: 2px;
    padding-top: 3px;
    position: absolute;
    width: 0;
    height: 4px;
    border: solid #3cb878;
    border-width: 0 2px 2px 0;
    transform: rotate(40deg);
    top: 5px;
    left: 5px;
  }
