* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: auto;
}

.main {
    background-image: url('../img/Section-backgroud/section-1\(header\).jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.ham-logo {
    width: 50px;
    height: 55px;
}

.ham-h-logo {
    position: absolute;
    margin: 0 12px;
}

header{
    padding: 0 300px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.logo-contaier, .nav-links{
    display: flex;
    align-items: center;
}  

.logo-text {
    text-align: center;
    color: white;
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 4px;
}

.logo-text-span {
    color: #18cfab;
    font-weight: 900;
}

.navigation {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px; 
}

.nav-links-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 700;
    font-family: "Montserrat";

}

.nav-links-li:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
    text-align: center;
    filter: invert(46%) sepia(90%) saturate(6800%) hue-rotate(149deg) brightness(100%) contrast(70%);

}

.fa-search {
    font-size: 18px;
    color: white;
} 
.fa-search:hover {

}
section {
    text-align: center;
    /* padding: 0 200px; */
    margin-top: 150px;
    margin-bottom: 110px;
}

.text-section {
    color: white;
}

.first-text {
    font-size: 35px;
} 

.second-text {
    font-size: 79px;
    font-weight: 600;
}

.third-text {
    font-size: 34px;
    line-height: 84px;
    color: #d4d4d4;
    font-family: "Montserrat";
    font-weight: 300;
}

.sp-first-txt{
    color: #18cfab;
}

.text-section-button {
    margin-top: 65px;
}

.text-section-btn1, .text-section-btn2 {
    width: 150px;
    height: 50px;
    background-color: #18cfab;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.text-section-btn2 {
    margin-left: 20px;
}

.text-section-btn1::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.text-section-btn1{
    transform-style: preserve-3d;
}

.text-section-btn2::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}

.text-section-btn2{
    transform-style: preserve-3d;
}

.blog-section {
    display: flex;
    flex-direction: row;
    height: 250px;
    
}
/* .blog-section :nth-child(even){
    background-color: #18cfab;
    height: 250px;
    width: 480px;
}

.blog-section :nth-child(odd) {
    background-color: #1c2a33;;
    height: 250px;
    width: 480px;
} */
.blog-1-3 {
    background-color: #1c2a33;;
    height: 250px;
    width: 25%;
    color: #18cfab;
    border-top: 5px solid #18cfab;
    text-align: center;
}

.blog-2-4 {
    background-color: #18cfab;
    height: 250px;
    width: 25%;;
    color: white;
    border-top: 5px solid white;
    text-align: center
}

.blog-img {
    height: 70px;
    width: 59px;
    margin-top: 45px;
}

.blog-section h1 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.services {
    color: #4e4e4e;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.our-services-underliine {
    margin: auto;
}

.top-line {
    background-color: #18cfab;
    width: 80px;
    height: 2px;
    margin: 20px 0 4px -20px;
}

.down-line {
    background-color: #18cfab;
    width: 80px;
    height: 2px;
    margin-right: -20px;
    margin-bottom: 60px;
}

/* Our service tab */
.container--services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 1160px;
    margin: auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

.services-tabs {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1160px;
}

.services-tabs-content {
  width: 910px;
}
.tabs-content img{
  width: 190;
  height: 130px;
  margin-right: 20px;
} 

.tabs {
    display: flex;
    
}
.square {
    position: relative;
    background-color: #fff;
    width: 18px;
    height: 18px;
    top: 80%;
    left: calc(50% - 9px);
    content: '';
    transform: rotate(45deg);
    margin-top: -9px;
    display: none;
    
}

.active .square {
    display: inherit;
    background-color: #18cfab;
    
}

.tabs-title {
    border: 1px solid #ebebeb;
    padding: 17px 26px;
    background-color: #f8fcfe;
    color: #4e4e4e;
    cursor: pointer;
    

}

.tabs-title.active {
    background-color: #18cfab;
    color: white;
    
}


[data-tab-content] {
    display: none;
}


.active[data-tab-content]{
    display: flex;
    
}

.install-section {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../img/Section-backgroud/section-2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    padding: 180px 0;
    margin: 50px 0;
}

.title-install {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 40px;
    color: #18cfab;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
}
.title-2-install {
    font-size: 13px;
    line-height: 40px;
    color: #d8d8d8;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}
.install-btn {
    width: 160px;
    height: 60px;
    border-radius: 4px;
    border: none;
    background-color: #18cfab;
    cursor: pointer;
    font-size: 13px;
    line-height: 32px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 40px;

}
.install-btn::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    background-color: #fff;
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 4px;
    transform: translateZ(-1px);
}
.install-btn{
    transform-style: preserve-3d;
    
}

/* Our Amazing Work */
.section-title-work {
    font-size: 25px;
    color: #4e4e4e;
    font-family: "Montserrat";
    font-weight: 400;
}

.work-tabs-ul {
    display: flex;
    
}

.w-tabs-title {
    border: 1px solid #ebebeb;
    padding: 17px 26px;
    background-color: #f8fcfe;
    color: #4e4e4e;
    cursor: pointer;
    transition: .5s ease;
}

.w-tabs-title.active {
    border-top: 1px solid #18cfab;
    color: #18cfab;
}
.work-tabs-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    
   
}

.work-imgs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1040px;
    margin: 50px 0;
    position: relative;
    
    
    

}
.work-imgs img {
    width: 260px;
    height: 200px;
}

.load-more-btn {
    width: 165px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background-color: #18cfab;
    font-size: 17px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
    margin: 60px 0;
    cursor: pointer;
}
.footer {
    background-color: #22353f;
    height: 80px;
    text-align: center;
}
.footer p {
    font-size: 14px;
    line-height: 26px;
    color: #aeaeae;
    font-family: "Montserrat";
    font-weight: 300;
    padding: 25px 0;
}
.footer span {
    color: #18cfab;
}
.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 3px solid #18cfab;
    opacity: 0;
    transition: .5s ease;
    background-color: #f8fcfe;
   
  }
.container {
    width: auto;
    position: relative;
    
}
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    width: 100%;
    line-height: 25px;
    color: #18cfab;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay-span {
    font-size: 16px;
    line-height: 25px;
    color: #8a8a8a;
    font-family: "Montserrat";
    font-weight: 300;
  }
  .overlay i {
    color: #18cfab;
    text-align: center;
    position: relative;
    width: 41px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }
  .overlay i:hover {
    color: white;
    background-color: #18cfab;
    cursor: pointer;
    
  }
  
  .overlay--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 40px;
    margin-top: 45px;
    margin-left: 3px;
    border-radius: 20px;
    border: 2px solid #18cfab;
  }
.all-imgs {
    display: none;
}
