* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .modal-button {
    display: flex;
    justify-content: center;
    
  }
  
  .btn {
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    background-color: #b3382c;
    color: white;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    color: white;
    outline: none;
    margin: 10px;
    
  }
  .btn:hover {
    background-color: #77261e;
  }
  .modal-container {
    padding: 160px 0;
    position: absolute;
    background-color: #312d2d;
    width: 100%;
    height: 100%;
    
  }
  .modal-body {
    margin: 0 auto;
    width: 550px;
    height: 250px;
    background-color: #e74c3c;
    border-radius: 4px;
    border: none;
  }
  .header-container {
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d44637;
  }
  .header {
    font-size: 18px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 600;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .main-text {
    margin: 50px 15px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .close-modal-btn {
    position: relative;
    bottom: 3px;
    color: white;
    right: 10px;
    background-color: #d44637;
    float: right;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }